
body {
      font-family: Verdana;
      color: white;
      background-color: black;
      text-align: center;


}

h1 {
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-align: centered;
    font-family: Verdana;

}
.decs {
            font-family: Verdana;
            color: AquaMarine;
            font-size: 16px;
}


}
h2 {
        font-family: Verdana;
        font-weight: bold;
        font-size: 42px;

}
.interests {

      font-size: 21px;
      color: gray;
}

 #foot {
      text-align: right;
      color: gray;

}
