
body {
      font-family: Verdana;
      background-color: Black;
      text-align: center;

}

h1 {
    font-weight: bold;
    font-size: 50px;
    color: White;
    text-align: centered;
    font-family: Verdana;

}

a .decs {
            font-family: Verdana;
            color: Aquamarine;
            font-size: 16px;
}
a {
  color: Aquamarine;

}
h2, #yptg {
        font-family: Verdana;
        font-weight: 300;
        font-size: 42px;
}
    #interest {
      font-family: Verdana;
      font-size: 21px
      color: Gray;
}

 #foot {
      text-align: right;
      color: gray;

}
